<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
     style="min-height: 200px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white">Parceiro</h1>
        <p class="text-white mt-0 mb-5">
          Nessa tela você poderá cadastrar, editar e visualizar um parceiro do grupo.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Parceiros</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informações do Responsável</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label">Responsável</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Angela">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Contato</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="(32) 9 9999-9999">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">E-mail</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="empresa@gmail.com">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Endereço</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="form-control-label">Endereço</label>
                    <input class="form-control form-control-alternative" placeholder="Av. Barão do Rio Branco, 40" type="text">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Bairro</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Centro">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Cidade</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Juiz de Fora">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Estado</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Minas Gerais">
                  </div>
                </div>
              </div>
            </div> 
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Detalhes do Parceiro</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Telefone da Loja</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="(32) 9 9999-9999">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Segmento/Ramo</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Loja de Tintas">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">CNPJ</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="99.999.999/9999-99">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Situação</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Ativo/Inativo">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label">Detalhes</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="Descreva aqui informações relevantes sobre a loja..."></textarea>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />   
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group" style="text-align: right;">
                      <a href="#!" class="btn btn-success">Salvar</a>
                      <a href="#!" class="btn btn-info">Cancelar</a>
                    </div>                 
                </div>
              </div>
            </div>      
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
