<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
     style="min-height: 200px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white">Ação</h1>
        <p class="text-white mt-0 mb-5">
          Nessa tela você poderá cadastrar, editar e visualizar uma ação do grupo.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Ação</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informações do Local</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Instituição</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="Selecione">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informações da Ação</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Tipo de Ação</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Selecione" type="text">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Número de Voluntários</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="1">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Número de Pessoas Beneficiadas</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="1">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Data da Realização</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="01/01/2020" >
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Detalhes</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="Descreva aqui mais detalhes sobre a ação, comunidade e os impactos..."></textarea>
                  </div>
                </div>
              </div>
            </div> 
            <hr class="my-4" />   
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group" style="text-align: right;">
                      <a href="#!" class="btn btn-success">Salvar</a>
                      <a href="#!" class="btn btn-info">Cancelar</a>
                    </div>                 
                </div>
              </div>
            </div>      
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
