<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
     style="min-height: 200px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white">Redes Sociais</h1>
        <p class="text-white mt-0 mb-5">
          Nessa tela você poderá cadastrar e editar as redes sociais que erão ser exibidas no site.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Redes Sociais</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Facebook</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label">Link</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="https://www.facebook.com/_rosafb">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Instagram</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="form-control-label">Link</label>
                    <input class="form-control form-control-alternative" placeholder="https://www.instagram.com/_rosa90" type="text">
                  </div>
                </div>
              </div>
            </div> 
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">LinkedIn</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label">Link</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="https://www.linkedin.com/in/rosa.d.t">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />   
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group" style="text-align: right;">
                      <a href="#!" class="btn btn-success">Salvar</a>
                      <a href="#!" class="btn btn-info">Cancelar</a>
                    </div>                 
                </div>
              </div>
            </div>      
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
