<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
     style="min-height: 200px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white">Sobre Nós</h1>
        <p class="text-white mt-0 mb-5">
          Nessa tela você poderá editar o texto que é exibido na tela "Sobre Nós" do site.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Sobre nós</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #aboutus = "ngForm" (ngSubmit) = "save(aboutus.value)">
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">Descrição</label>
                <textarea [(ngModel)]="description" name="description" rows="4" class="form-control form-control-alternative" placeholder="Digite o sobre nós aqui..."></textarea>
              </div>
              <hr class="my-4" />
              <div class="form-group" style="text-align: right;">
                <input type="submit" class="btn btn-success" value="Salvar">
                <a href="#!" class="btn btn-info">Cancelar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
